@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas neue';
    background: url(/assets/images/nav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.fab {
    color: purple;
    padding: 6px;
}

.navbar-brand {
    font-size: 60px;
}

.nav-link {
    font-size: 23px;

}

.middleUl{
    margin-right: 3%;
}
/* 

@media (max-width: 991px) {
    .collapse {
        background-color: white;
    }
} */

.fab:hover{
    color: white;
}